* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  border: none;
  outline: none;
  font-family: "Nunito";
  color: #333333;
}

body {
  height: 150vh;
  display: flex;
  /* width: 145rem; */
  margin: 0 auto;
}

aside h1 {
  /* margin-left: 3rem; */
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: #fff;
  /* color: #6c5ddc; */
}

aside {
  height: 100vh;
  position: fixed;
  padding: 5rem 2rem;
  background-color: #6c5ddc;
  /* border: 3px solid #6c5ddc; */
  /* border-color: #6c5ddc; */
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

aside ul {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside ul li {
  padding: 1rem 3rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* color: #777; */
  /* color: #6c5ddc; */

  color: #fff !important;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s all;
}
aside ul li span {
  color: #fff;
}
aside ul li:hover {
  transition: 0.2s all;
  background-color: #ffffff20;
}
.aside-active {
  background-color: #ffffff50 !important;
}

.dot-active {
  position: absolute;
  left: 0;
  height: 2rem;
  width: 0.5rem;
  background-color: #fff;
  border-radius: 2rem;
}
.profile {
  position: absolute;
  bottom: 4rem;
  display: flex;
  gap: 1rem;
}
.profile span {
  font-size: 3rem;
  align-self: center;
  padding: 0.5rem;
  color: #fff;
  background-color: #ffffff50;
  border-radius: 1rem;
}
.profileContent {
  display: flex;
  flex-direction: column;
}
.profileContent h1 {
  font-size: 1.6rem !important;
  letter-spacing: 0.1rem;
}
.profileContent h2 {
  font-size: 1.6rem !important;
  color: #ffffff90;
  /* letter-spacing: 0.1rem; */
}
main {
  padding: 5rem 10rem 5rem 30rem;
}

main h1 {
  font-size: 3rem;
  /* text-align: center; */
}

.schedule {
  /* width: 60rem; */
  margin-top: 3rem;
  display: flex;
}
.timmings {
  /* margin-top: 4rem; */
  display: flex;
  flex-direction: column;
  /* gap: 5rem; */
  width: fit-content;
}
.time {
  /* height: 7.5rem; */
  min-width: 19rem;
  align-self: center;
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 700;
  color: #888;
  padding: 2.65rem 3rem 2rem 0;
}
.timmings div:last-child {
  border: none;
}

.classes {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
}
.lecture {
  width: 100%;
  border-bottom: 2px solid #99999970;
  padding: 1rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.lecture:last-child {
  border: none;
}
.lec {
  padding: 0.5rem 3rem;
  position: relative;
  background-color: #f7f7fe;
  width: 18rem;
  height: 5.3rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  /* margin-left: 10rem; */
}
.lec h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
.lec h2 {
  font-size: 1.6rem;
  font-weight: 400;
}
.line {
  position: absolute;
  height: 3rem;
  top: 20%;
  left: 2.5rem;
  border-radius: 1rem;
  width: 0.6rem;
  background-color: lightskyblue;
  /* background-color: #6c5ddc; */
}

.lectureContent {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* align-items: center; */
}

.active-lecture .time {
  font-weight: 800;
  color: #6c5ddc;
}

.active-lecture .lec .line {
  background-color: #fff;
}

.active-lecture .lec {
  background-color: #6c5ddc;
}
.active-lecture .lec .lectureContent h4 {
  color: #fff;
}
.active-lecture .lec .lectureContent h2 {
  color: #fff;
}

.practical {
  width: 30rem;
}

.attendance {
  position: fixed;
  /* left: 95rem; */
  right: 10rem;
  height: 100vh;
  width: 40rem;
  /* background-color: #6c5ddc; */
}
.heading {
  width: 100%;
  height: 15rem;
  background-color: #6c5ddc;
  border-bottom-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
}

.heading h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  padding-top: 4rem;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: -3rem auto;
  padding: 1rem 3rem;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.date span {
  font-weight: 800;
  cursor: pointer;
  color: #6c5ddc;
}

ul {
  list-style: none;
}
.calendar {
  margin-top: 5rem;
  width: 100%;
  /* height: 20rem; */
  /* background-color: #5236ff; */
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 0 2rem #5236ff10; */
  padding-top: 1rem;
  border-radius: 2rem;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 1.3rem 0;
  background-color: #ffffff20;
  display: flex;
  justify-content: center;
}

.weekdays li {
  width: 5.3rem;
  display: inline-block;
  font-size: 1.4rem;
  /* color: #fff; */
  font-weight: 700;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 2rem 0;
  padding-left: 1rem;
  /* background: ; */
  margin: 0;
}
/* .line {
  width: 100%;
  height: 0.2rem;
  background-color: #00000025;
  /* margin: 0 0 3rem 0; *
} */
.line2 {
  width: 7rem;
  align-self: center;
  height: 0.2rem;
  background-color: #00000025;
  /* margin: 0 0 3rem 0; */
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 5.3rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  /* color: #fff; */
}
/* .days li:hover {
  background-color: #ffffff40;
  border-radius: 50%;
  padding: 0.4rem;
} */
/* Highlight the "current" day */
.days .active {
  padding: 0.4rem 0.5rem;
  /* display: flex; */
  /* align-items: center; */
  background-color: #6c5ddc;
  border-radius: 50%;
  border-radius: 0.5rem;
  color: #fff !important;
  /* font-weight: 700; */
  font-size: 1.4rem;
}

.days li .holiday {
  padding: 0.4rem 0.7rem;
  width: 5rem !important;
  /* display: flex; */
  /* align-items: center; */
  /* background-color: #6c5ddc; */
  border-radius: 0.5rem;
  color: #999 !important;
  /* font-weight: 700; */
  font-size: 1.4rem;
}
.days .present {
  padding: 0.4rem 0.5rem;
  width: 5rem !important;
  /* display: flex; */
  /* align-items: center; */
  background-color: #00ff00;
  background-color: #32cd32;
  background-color: #21d1ff;
  border-radius: 0.5rem;
  color: #fff !important;
  /* font-weight: 700; */
  font-size: 1.4rem;
}
.days .absent {
  padding: 0.4rem 0.5rem;
  width: 5rem !important;
  /* display: flex; */
  /* align-items: center; */
  /* background-color: #00ff00; */
  background-color: red;
  background-color: #e94d90;
  border-radius: 0.5rem;
  color: #fff !important;
  /* font-weight: 700; */
  font-size: 1.4rem;
}

.total {
  margin-top: 3rem;
  width: 100%;
  height: 10rem;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
}

.total h2 {
  font-size: 2rem;
}

.total h2:last-child {
  padding: 0.7rem;
  background-color: #6c5ddc;
  color: #fff;
  border-radius: 1rem;
}
.totall {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
.total-absent {
  width: 100%;
  height: 15rem;
  background-color: #e94d90;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
.total-present {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 2rem;
  height: 15rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-color: #21d1ff;
}
.lec:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.profile {
  cursor: pointer;
}
.total:hover,
.total-present:hover,
.total-absent:hover {
  cursor: pointer;
  transform: translateY(-1rem);
  transition: all 0.2s ease-in-out;
}
.totall h1 {
  margin: 1.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}
.totall h2 {
  font-size: 10rem;
  color: #fff;
  position: absolute;
  bottom: -3rem;
  right: 1rem;
}
