* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.24vh;
  border: none;
  outline: none;
  font-family: "Nunito";
  text-decoration: none;
  color: #333333;
}

body {
  height: 150vh;
  display: flex;
  /* width: 145rem; */
  margin: 0 auto;
}

aside h1 {
  /* margin-left: 3rem; */
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: #fff;
  /* color: #6c5ddc; */
}

aside {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5rem 2rem;
  background-color: #6c5ddc;
  /* border: 3px solid #6c5ddc; */
  /* border-color: #6c5ddc; */
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

aside ul {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside ul li {
  padding: 1rem 3rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* color: #777; */
  /* color: #6c5ddc; */

  color: #fff !important;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s all;
}
aside ul a {
  padding: 1rem 3rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  color: #fff !important;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s all;
}
aside ul a span {
  color: #fff;
}
aside ion-icon {
  font-size: 2.2rem;
  color: #fff;
}
aside ul a:hover {
  transition: 0.2s all;
  background-color: #ffffff20;
}
.aside-active {
  background-color: #ffffff50 !important;
}
.logout {
  /* position: absolute;
  bottom: 3rem;
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  align-items: center;
  left: 2rem;
  color: #fff; */
}
.logout ion-icon {
  font-size: 1.7rem;
  background-color: #ffffff40;
  padding: 0.5rem;
  border-radius: 0.7rem;
}
.dot-active {
  position: absolute;
  left: 0;
  height: 2rem;
  width: 0.5rem;
  background-color: #fff;
  border-radius: 2rem;
}
.profile {
  position: absolute;
  bottom: 4rem;
  display: flex;
  gap: 1rem;
}
.profile .logout {
  align-self: center;
  margin-left: 2rem;
  justify-self: flex-end;
}
.profile span {
  font-size: 3rem;
  align-self: center;
  padding: 0.5rem;
  color: #fff;
  background-color: #ffffff50;
  border-radius: 1rem;
}
.profileContent {
  display: flex;
  flex-direction: column;
}
.profileContent h1 {
  font-size: 1.6rem !important;
  letter-spacing: 0.1rem;
}
.profileContent h2 {
  font-size: 1.6rem !important;
  color: #ffffff90;
  /* letter-spacing: 0.1rem; */
}

/* ANNOUNCEMENT SECTION */

.horn {
  width: 20px;
  height: 20px;
  margin-left: 1.5rem;
}

.container-2 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 40rem;

  /* width: 10rem; */
  height: 100vh;
}

.announce {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.announce-contain {
  background-color: #f0effc;
  width: 100rem;
  padding: 4rem 2rem;
  border-radius: 2rem;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
}

span {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  font-size: 1.2rem;
}

.announce-contain:hover {
  /* transform: scale(1.03); */
  box-shadow: 0 0 2rem #c4bef1ec;
  transition: all 0.3s;
}

/* AGR LATEST VALA LGANA HO */

/* .contain-1 {
  position: relative;
}

.contain-1::after {
  content: "Latest";
  background-color: #ffe70e;
  font-family: inherit;
  font-size: 2.4rem;
  right: -3rem;
  top: -2rem;
  padding: 1rem 2rem;
  position: absolute;
  font-weight: 700;
  color: #333;
  border-radius: 45%;
} */

a {
  font-size: 2rem !important;
}

.heading {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.detail-announce-1 {
  font-size: 1.8rem;
  width: 120rem;
  padding: 1.8rem 3.6rem;
  border-radius: 4rem;
  background-color: #f0effc;
}

p {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.contain-1 {
  position: relative;
}

.pic {
  position: absolute;
  top: -1rem;
  right: -2rem;
  width: 8rem;
  height: 4rem;
}

.head {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* 768 */

@media screen and (max-width: 768px) {
  /* * {
    font-size: 100% !important;
  } */
  .nooone {
    display: block;
    position: fixed;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    display: flex;
    height: 120vh !important;
    flex-direction: column;
    position: relative;
  }
  .aside {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000085;
    overflow: hidden !important;
  }
  .lecture {
    z-index: -1;
  }
  /* .aside {
    display: none !important;
  } */
  .lec {
    z-index: -1;
  }
  .noone {
    display: none;
  }
  .cloose {
    position: fixed;
    top: 1.3rem;
    left: 2rem;
    z-index: 99999999999 !important;
  }
  .none {
    /* display: absolute; */
    display: none !important;
  }
  .cloose ion-icon {
    font-size: 3.5rem !important;
    z-index: 99999999999 !important;
    color: #fff !important;
  }
  aside {
    /* z-index: 99; */
    z-index: 999999999;
    /* position: unset; */
    width: 25rem;
  }
  .attendance {
    position: unset;
    width: 90vw !important;
    margin: 0 auto;
    /* margin: 0 !important; */
    padding: 0 !important;
    display: none;
  }
  main {
    padding: 0 !important;
    width: 90vw !important;
    margin: 0 auto;
    margin-top: 10rem;
  }
  .lecture {
    width: 40vw;
  }
  .lecture {
    width: 90vw;
  }
  .lec {
    width: 40vw;
  }
  .time {
    min-width: 40vw !important;
    padding-right: 0;
  }
  /* .date,
  .calendar,
  .total,
  .totall {
  } */
  .none {
    display: block;
  }
  .icon {
    position: absolute;
    z-index: 111;

    top: 3rem;
    left: 2rem;
  }
  .icon ion-icon {
    font-size: 3.5rem;
    color: #6c5ddc;
  }
}

@media (max-width: 34rem) {
  .announce {
    width: 90vw;
  }

  .announce-contain {
    width: 90vw;
  }

  .container-2 {
    width: 90vw !important;
    margin: 0 auto;
    margin-top: 5rem;
  }

  .detail-announce-1 {
    width: 90vw;
  }

  .contain-1::after {
    font-size: 1.8rem;
  }
}
